body {
  height: 2000px;
  /* background-image: url(assets/image/bg.png); */
  background-size: cover;
}
.img-main {
  padding-top: 10rem;
  margin-bottom: 35px;
}
/* isi profil */
#profil {
  background-color: #fdd54f;
  height: auto;
  /* margin-bottom: 10px; */
}
/* gambar profil */
#img-main {
  width: 40%;
  margin-top: 6rem;
}
#nama {
  /* margin-top: 900px; */
  text-align: center;
  font-size: 140px;
  padding-top: 200px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
#profesi {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 75px;
  font-family: "Poppins", sans-serif;
}
.col-sm-5 {
  width: 90%;
  margin-bottom: 100px;
}
.card-header {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

/* akhir isi profil */

/* project */

/* akhir project */
#kontak {
  padding-bottom: 5px;
  background-color: #fdd54f;
}
.me-1 {
  border: red 1px solid;
  margin-left: 70%;
}
.float-end {
  margin-top: 140px;
  height: auto;
}
.clear {
  clear: both;
}
@media screen and (max-width: 425px) {
  .navbar-logo {
    width: 40%;
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav a:hover {
    background-color: rgba(252, 252, 252, 0.123);
    transition: all 0.5s;
  }
  .nav-item {
    font-family: "Lora", serif;
    padding: 10px;
    color: whitesmoke;
  }
  .img-main {
    padding: 13rem 0;
  }
  .float-end {
    background-color: #fdd54f;
  }
  /* isi profil */
  #img-main {
    width: 70%;
    margin-right: 48px;
    margin-top: -50px;
  }
  #profil {
    font-family: "Lora", serif;
    text-align: right;
    color: rgb(3, 3, 3);
    height: auto;
    padding-top: 120px;
    background-color: #fdd54f;
  }
  #nama {
    margin-top: 35px;
    text-align: center;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
  }
  #profesi {
    text-align: center;
    margin-top: 10px;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    margin-bottom: -1px;
  }
  .col-md-5 {
    width: 90%;
    padding-bottom: 30px;
  }
  .card-header {
    font-size: 18px;
  }
  /* akhir isi profil */

  /* isi Project */
  #project {
    font-family: "Lora", serif;
    text-align: center;
    color: gray;
  }
  /* akhir isi project */

  /* isi kontak */
  #kontak {
    font-family: "Lora", serif;
    text-align: center;
    color: gray;
    background-color: #fdd54f;
    padding-bottom: 20px;
  }

  .float-end {
    margin-top: -10px;
  }
}
