body {
  height: 2000px;
  background-image: url(assets/image/bg.png);
  background-size: cover;
}
.img-main {
  padding-top: 10rem;
}

@media screen and (max-width: 425px) {
  .navbar-logo {
    width: 40%;
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav a:hover {
    background-color: rgba(252, 252, 252, 0.123);
    transition: all 0.5s;
  }
  .nav-item {
    font-family: "Lora", serif;
    padding: 10px;
    color: whitesmoke;
  }
  .nav-item a:hover {
    color: whitesmoke;
  }
  .img-main {
    padding-top: 2rem;
  }
}
